@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  background-image: url('/images/beer.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}


.container {
    text-align: center;
    position: fixed;
  	top: 50%;
  	transform: translateY(-50%);
  	width: 100%;
    margin: 0 auto;
}

.login {
  position:relative;
  border: 2px solid #ffffff;
  border-radius: 35px;
  margin: 0 auto;
  padding:25px;
  height:450px;
  width: 400px;
}

.join {
  color:#000000;
}

 a {
  color:#000000;
}
