@import url(https://fonts.googleapis.com/css?family=Roboto);

body.homepage {
    background-image: url('/images/beer.jpeg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}


body.joinup {
  background-image: url('/images/legs.jpeg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}

body.fire {
  background-image: url('/images/timber.jpeg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}


body.goodbye {
  background-image: url('/images/backdrop.jpeg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #000000;
}



body.newBeer {
  background-image: url('/images/still.jpeg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #000000;
}

body.options {
  background-image: url('/images/bar.jpeg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 150%;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}



.container {
    text-align: center;
    position: fixed;
  	top: 50%;
  	transform: translateY(-50%);
  	width: 100%;
    margin: 0 auto;
}

.login {
  position:relative;
  border: 3px solid #ffffff;
  border-radius: 35px;
  margin: 0 auto;
  padding:25px;
  height:450px;
  width: 400px;
}



.signUp {
    position:relative;
    border: 3px solid #ffffff;
    border-radius: 35px;
    margin: 0 auto;
    padding:25px;
    height:450px;
    width: 400px;
    color:#ffffff;
}


.userOptions {
    position:relative;
    border: 3px solid #ffffff;
    border-radius: 35px;
    margin: 0 auto;
    padding:25px;
    height:450px;
    width: 400px;
    color:#000000;
}


.newbrewForm {
  position:relative;
  border: 3px solid #ffffff;
  border-radius: 35px;
  margin: 0 auto;
  padding:25px;
  color:#ffffff;
  height:60%;
  width: 60%;
  opacity: 1;

}

.brew {
    position:relative;
    border: 3px solid #ffffff;
    border-radius: 35px;
    margin: 0 auto;
    padding:25px;
    height:450px;
    width: 400px;
    color:#ffffff;
}

.userOptions a {
    color: #ffffff;
}

.signUp a {
    color: #ffffff;
}

.join {
  color:#000000;
}

.exit {
    position:relative;
    border: 3px solid #ffffff;
    border-radius: 35px;
    margin: 0 auto;
    padding:25px;
    height:150px;
    width: 400px;
    color:#ffffff;
}

.exit a {
    color: #ffffff;
}
.logo p {
  border-radius: 40px;
  border-color: #ffffff;
  border: 3px solid #ffffff;
  height:80px;
  width: 500px;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  text-align: center;
  float:right;
  top:100px;
  right:30px;
  position:relative;

}

.logo1 p {
  border-radius: 40px;
  border-color: #ffffff;
  border: 3px solid #ffffff;
  height:80px;
  width: 500px;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  text-align: center;
  float:right;
  top:100px;
  right:40px;
  /*position:relative;*/
  margin-right: 25px;
  color:#ffffff;

}

 a {
  color:#000000;
}

.links a {
  text-decoration: none;
}

form input {
  font-family: 'Roboto', sans-serif;
  color:#000000;
}
