<html>
<head>
  <title>all brews</title>
  <link rel='stylesheet' href='css/normalize.css'>
  <link rel='stylesheet' href='css/skeleton.css'>
  <link rel='stylesheet' href='css/main.css' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link rel="icon" type="image/png" href="images/favicon.png">
</head>
<body>

  <body class='brews'>
  <body>
     <div class='section hero'>
      <div class='logo'>
        <div class='row'>
         <p>liquid intelligence</p>
       </div>
     </div>
    </div>
  <div class='u-max-full-width container'>
           <div class='allbrews'>
          <div class='row'>
            <ul>
               {{#each data}}
               <h5>{{brewName}}</h5>
               <a class='viewBtn' id={{this.id}} href='#  '>view</button> -->
               {{/each}}
            </ul>
              <a class='button button-primary' href='userHome'>home</a>
    </div>
  </div>
 </div>
  <script src='app.js'></script>
  </body>
  </html>
