<html>
<head>
  <title>brew options</title>
  <link rel='stylesheet' href='css/normalize.css'>
  <link rel='stylesheet' href='css/skeleton.css'>
  <link rel='stylesheet' href='css/main.css' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->
</head>

  <body class='options'>
    <div class='section hero'>
      <div class='logo'>
        <div class='row'>
         <p>liquid intelligence</p>
       </div>
     </div>
    </div>


    <div class='u-max-full-width container'>
    <div class='brew'>
          <div class='row'>
            <h3>cheers!</h3>
            <h5> {{emailId}} </h5>

            <h5>another brew added to your brewery!</h5>
    </div>

     <div class='u-max-full-width'>
       <div class='links'>

        <a class='button button-primary' href='newBrew'>add another brew</a>
        <!-- <a class='button button-primary' href='#'>edit a brew</a> -->
        <button class='button button-primary' id='showBtn' href='allBrews'>see all brews</button>
        <a class='button button-primary' href='/'>home</a>
        <a class='button button-primary' href='signOut'>sign out</a>
      </div>
    </div>
</div>
</div>
  <script src='app.js'></script>
  </body>

  </html>
