<html>
<head>
  <title>new brew</title>
  <link rel='stylesheet' href='css/normalize.css'>
  <link rel='stylesheet' href='css/skeleton.css'>
  <link rel='stylesheet' href='css/main.css' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link rel="icon" type="image/png" href="images/favicon.png">
</head>

<body class='newBeer'>

  <!-- <div class='section hero'>
    <div class='logo'>
      <div class='row'>
        <p>liquid intelligence</p>
      </div>
    </div>
  </div> -->



    <div class='newbrewForm'>
      <div class='u-max-full-width container'>

        <h5>create a new brew.</h5>


      <form action='/newBrew' method='POST'>

        <div class='row'>
          <div class='four columns'>
            <p><b><label for='brewName'>brew name</label></b></p>
            <input class='u-full-width' placeholder='name' type='text' name='brewName'>
          </div>
          <div class='four columns'>
            <p><b><label for='brewStyle'>brew style</label></b></p>
            <input class='u-full-width' placeholder='style' type='text' name='brewStyle'>
          </div>
          <div class='four columns'>
            <p><b><label for='brewer'>brewer</label></b></p>
            <input class='u-full-width' placeholder='brewer' type='text' name='brewer'>
          </div>
        </div>

        <div class='row'>
          <div class='four columns'>
            <p><b><label for='brewDate'>brew date</label></b></p>
            <input class='u-full-width' placeholder='brew date' type='date' name='brewDate'>
          </div>
          <div class='four columns'>
            <p><b><label for='malts'>malts</label></b></p>
            <input class='u-full-width' type='text' placeholder='malts' name='malts'>
          </div>
          <div class='four columns'>
            <p><b><label for='hops'>hops</label></b></p>
            <input class='u-full-width' type='text' placeholder='hops' name='hops'>
          </div>
        </div>

        <div class='row'>
          <div class='four columns'>
            <p><b><label for='brewDate'>yeast</label></b></p>
            <input class='u-full-width' placeholder='yeast' type='text' name='yeast'>
          </div>
          <div class='four columns'>
            <p><b><label for='stikeVolume'>strike volume</label></b></p>
            <input class='u-full-width' type='text' placeholder='strike volume' name='strikeVolume'>
          </div>
          <div class='four columns'>
            <p><b><label for='mashTemperature'>mash temperature</label></b></p>
            <input class='u-full-width' type='text' placeholder='mash temperature' name='mashTemperature'>
          </div>
        </div>

        <div class='row'>
          <div class='four columns'>
            <p><b><label for='mashTime'>mash time</label></b></p>
            <input class='u-full-width' type='text' placeholder='mash time' name='mashTime'>
          </div>
          <div class='four columns'>
            <p><b><label for='spargeWater'>sparge volume</label></b></p>
            <input class='u-full-width' placeholder='sparge volume' type='text' name='spargeWater'>
          </div>
          <div class='four columns'>
            <p><b><label for='spargeTemperature'>sparge temperature</label></b></p>
            <input class='u-full-width' type='text' placeholder='sparge temperature' name='spargeTemperature'>
          </div>
        </div>

        <div class='row'>
          <div class='four columns'>
            <p><b><label for='boilVolume'>boil volume</label></b></p>
            <input class='u-full-width' type='text' placeholder='boil volume' name='boilVolume'>
          </div>
          <div class='four columns'>
            <p><b><label for='boilTime'>boil time</label></b></p>
            <input class='u-full-width' type='text' placeholder='boil time' name='boilTime'>
          </div>
          <div class='four columns'>
            <p><b><label for='originalGravity'>original gravity</label></b></p>
            <input class='u-full-width' type='number' placeholder='original gravity' name='original'>
          </div>
        </div>


        <div class='row'>
          <div class='four columns'>
            <p><b><label for='fermentTemperature'>fermentation temperature</label></b></p>
            <input class='u-full-width' type='text' placeholder='fermentation temperature' name='fermentTemperature'>
          </div>
          <div class='four columns'>
            <p><b><label for='fermentTime'>fermentation time</label></b></p>
            <input class='u-full-width' placeholder='fermentation time' type='text' name='fermentTime'>
          </div>
          <div class='four columns'>
            <p><b><label for='finalGravity'>final gravity</label></b></p>
            <input class='u-full-width' type='number' placeholder='final gravity' name='final'>
          </div>
        </div>


        <div class='row'>
          <div class='four columns'>
            <h6><b><label for='dextroseDosage'>dextrose dosage</label></b></h6>
            <input class='u-full-width' placeholder='dextrose dosage' type='text' name='dextroseDosage'>
          </div>
          <div class='four columns'>
            <p><b><label for='batchSize'>batch size</label></b></p>
            <input class='u-full-width' type="text" placeholder='batch size' name='batchSize'>
          </div>
          <div class='four columns'>
            <p><b><label for='abv'>abv</label></b></p>
            <input class='u-full-width' type='number' placeholder='abv' name='abv'>
          </div>
        </div>


<br>
<input class='button button-primary' type='submit' value='add'>
</form>
</div>
</div>


<script src='app.js'></script>
</body>
</html>
