<html>
<head>
  <title>new brew</title>
  <link rel='stylesheet' href='css/normalize.css'>
  <link rel='stylesheet' href='css/skeleton.css'>
  <link rel='stylesheet' href='css/main.css' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>

<body class='newBeer'>

  <div class='u-max-full-width container'>
    <div class='u-full-width'>

      <form action='/newbrew' method='POST'>
        <div class='row'>
        <div class='six columns'>
        <label for='newbrew'>brew name</label>
        <input class='u-full-width' type='text' name='brewname'>
      </div>
        <div class='six columns'>
        <label for='brewer'>brewer</label>
        <input class='u-full-width' type='text' name='brewer'>
    </div>
  </div>
        <input class='button button-primary' type='submit' value='add'>
</form>
  </div>
</body>
<script src='app.js'></script>
</html>
