<html>
<head>
  <title>new brew</title>
  <link rel='stylesheet' href='css/normalize.css'>
  <link rel='stylesheet' href='css/skeleton.css'>
  <link rel='stylesheet' href='css/main.css' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>

<body class='newBeer'>

  <div class='u-max-full-width container'>
    <div class='newbrewForm'>
    <div class='u-full-width'>

      <form action='/newbrew' method='POST'>
        <div class='row'>
        <div class='six columns'>
        <b><label for='newBrew'>brew name</label></b>
        <input class='u-full-width' placeholder='name' type='text' name='brewName'>
      </div>
        <div class='six columns'>
        <b><label for='brewer'>brewer</label></b>
        <input class='u-full-width' placeholder='brewer' type='text' name='brewer'>
    </div>
  </div>
    <div class='row'>
    <div class='six columns'>
    <b><label for='brewStyle'>brew style</label></b>
    <input class='u-full-width' placeholder='style' type='text' name='brewStyle'>
  </div>
    <div class='six columns'>
    <b><label for='batchNumber'>batch number</label></b>
    <input class='u-full-width' placeholder='batch number' type='number' name='batchNumber'>
  </div>
  </div>
  <div class='row'>
    <div class='six columns'>
    <b><label for='brewIngredients'>brew ingredients</label></b>
    <textarea class='u-full-width' placeholder='ingredients' name='brewIngredients'></textarea>
  </div>
  <div class='six columns'>
    <b><label for='brewingProcess'>brewing process</label></b>
    <textarea class='u-full-width' placeholder='process' name='brewingProcess'></textarea>
  </div>
 </div>
  <div class='row'>
  <div class='six columns'>
  <b><label for='brewDate'>brew date</label></b>
  <input class='u-full-width' placeholder='brew date' type='text' name='brewDate'>
 </div>
  <div class='six columns'>
  <b><label for='bottlingDate'>bottling date</label></b>
  <input class='u-full-width' placeholder='bottling Date' type='text' name='bottlingDate'>
 </div>
</div>




        <input class='button button-primary' type='submit' value='add'>
</form>
   </div>
  </div>
</div>
</body>
<script src='app.js'></script>
</html>
