<html>
<head>
  <title>new brew</title>
  <link rel='stylesheet' href='css/normalize.css'>
  <link rel='stylesheet' href='css/skeleton.css'>
  <link rel='stylesheet' href='css/main.css' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link rel="icon" type="image/png" href="images/favicon.png">
</head>

<body class='newBeer'>

    <div class='section hero'>
      <div class='logo'>
        <div class='row'>
         <p>liquid intelligence</p>
    </div>
  </div>
</div>


  <div class='u-max-full-width container'>
      <div class='newbrewForm'>
        <div class='row'>
         <h4>create a new brew.</h4>
          </div>

          <form action='/newBrew' method='POST'>
           <div class='row'>
          <div class='six columns'>
           <h6><b><label for='newBrew'>brew name</label></b></h6>
           <input class='u-full-width' placeholder='name' type='text' name='brewName'>
           </div>

           <div class='six columns'>
           <h6><b><label for='brewer'>brewer</label></b></h6>
           <input class='u-full-width' placeholder='brewer' type='text' name='brewer'>
          </div>
       </div>

    <div class='row'>
     <div class='six columns'>
      <h6><b><label for='brewStyle'>brew style</label></b></h6>
      <input class='u-full-width' placeholder='style' type='text' name='brewStyle'>
    </div>

     <div class='six columns'>
     <h6><b><label for='batchNumber'>batch number</label></b></h6>
     <input class='u-full-width' placeholder='batch number' type='number' name='batchNumber'>
   </div>
  </div>

  <div class='row'>
    <div class='six columns'>
    <h6><b><label for='brewIngredients'>brew ingredients</label></b><h6>
    <textarea class='u-full-width' placeholder='ingredients' type='text' name='brewIngredients'></textarea>
    </div>

   <div class='six columns'>
    <h6><b><label for='brewingProcess'>brewing process</label></b></h6>
    <textarea class='u-full-width' placeholder='process' type='text' name='brewingProcess'></textarea>
  </div>
 </div>

  <div class='row'>
   <div class='six columns'>
   <h6><b><label for='brewDate'>brew date</label></b></h6>
    <input class='u-full-width' placeholder='brew date' type='date' name='brewDate'>
 </div>

  <div class='six columns'>
  <h6><b><label for='bottlingDate'>bottling date</label></b></h6>
  <input class='u-full-width' placeholder='bottling Date' type='date' name='bottlingDate'>
 </div>
</div>

  <div class='row'>
   <div class='six columns'>
     <h6><b><label for='mashTime'>mash time</label></b></h6>
     <input class='u-full-width' type='text' placeholder='mash time' name='mashTime'>
    </div>

    <div class='six columns'>
     <h6><b><label for='boilTime'>boil time</label></b></h6>
      <input class='u-full-width' type='text' placeholder='boil time' name='boilTime'>
      </div>
      </div>

   <div class='row'>
    <div class='six columns'>
     <h6><b><label for='originalGravity'>original gravity</label></b></h6>
      <input class='u-full-width' type='number' placeholder='original gravity' name='original'>
       </div>

       <div class='six columns'>
        <h6><b><label for='finalGravity'>final gravity</label></b></h6>
        <input class='u-full-width' type='number' placeholder='final gravity' name='final'>
        </div>
        </div>

   <div class='row'>
   <div class='six columns'>
     <h6><b><label for='mashTemperature'>mash temperature</label></b></h6>
      <input class='u-full-width' placeholder='mash temperature' type='number' name='mashTemperature'>
      </div>

       <div class='six columns'>
        <h6><b><label for='fermentTemperature'>fermentation temperature</label></b><h6>
         <input class='u-full-width' placeholder='fermentation temperature' type='number' name='fermentTemperature'>
        </div>
         </div>

<div class='row'>
  <div class='six columns'>
  <h6><b><label for='batchYield'>batch size</label></b></h6>
  <input class='u-full-width' type="number" placeholder='batch size' name='batchSize'>
  </div>

  <div class='six columns'>
    <h6><b><label for='abv'>abv</label></b></h6>
    <input class='u-full-width' type='number' placeholder='abv' name='abv'>
    </div>
  </div>

  <div class='row'>
   <div class='six columns'>
    <h6><b><label for='tasting notes'>tasting notes</label></b></h5>
      <textarea class='u-full-width' placeholder='tasting notes' type='text' name='tastingNotes'></textarea>
   </div>
   </div>
  <br>
        <input class='button button-primary' type='submit' value='add'>
          <a class='button button-primary' href='/'>home</a>
        </form>


            </div>
         </div>

<script src='app.js'></script>
</body>
</html>
