<html>
<head>
  <title>new brew</title>
  <link rel='stylesheet' href='css/normalize.css'>
  <link rel='stylesheet' href='css/skeleton.css'>
  <link rel='stylesheet' href='css/main.css' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link rel="icon" type="image/png" href="images/favicon.png">
</head>
<body>

  <div class="section get-help">

    <div class="container">
      <h3 class="section-heading">Need help getting started?</h3>
      <p class="section-description">Skeleton is an amazingly easy place to start with responsive development. If you want to learn more, just visit the documentation!</p>
      <a class="button button-primary" href="http://getskeleton.com">View Skeleton Docs</a>
    </div>

  </div>


  <div class="section categories">
    <div class="container">

      <h3 class="section-heading">new brew recipe</h3>
      <p class="section-description">add brew details below</p>

      <form action='/newBrew' method='POST'>
       <div class="row">
        <div class="one-half column category">
        <h6><b><label for='newBrew'>brew name</label></b></h6>
        <input class='u-full-width' placeholder='name' type='text' name='brewName'>
        </div>

        <div class="one-half column category">
        <h6><b><label for='brewer'>brewer</label></b></h6>
        <input class='u-full-width' placeholder='brewer' type='text' name='brewer'>
        </div>

      </div>

    </div>
  </div>


















<script src='app.js'></script>
</body>
</html>
