<html>
<head>
  <title>sign up here</title>
  <link rel='stylesheet' type='text/css' href='/client/css/main.css'>
</head>
<body>

  <body>
  <div class='u-max-full-width container'>
      <div class='signUp'>
          <div class='row'>
        <h2>hello</h2>
        <h5>sign up to liquid intelligence</h5>
    </div>
          <div class='row'>
            <div class='u-full-width'>
              <form  action='/signUp' method='POST' >
              <label for='emailInput'>email address</label>
              <input class='u-full-width' type='email' placeholder='rahmona.henry@icloud.com' id='emailInput' name ='email' autofocus>
          </div>
          </div>
          <div class='row'>
            <div class='u-full-width'>
              <label for='password'>password</label>
              <input class='u-full-width' type='text' placeholder='abracadabra' autocomplete='off' id='passwordInput' name='password'>
            </div>
          </div>
          <br>
          <input class='button button-primary' type='submit' value='submit'>
        </form>
        <br>
      </div>
        </div>
  </body>
  <script src='app.js'></script>
  </html>
