<html>
<head>
  <title>goodbye</title>
  <link rel='stylesheet' href='css/normalize.css'>
  <link rel='stylesheet' href='css/skeleton.css'>
  <link rel='stylesheet' href='css/main.css' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>

  <body class='goodbye'>
    <div class='section hero'>
      <div class='logo'>
        <div class='row'>
         <p>liquid intelligence</p>
       </div>
     </div>
    </div>
  <div class='u-max-full-width container'>
      <div class='userOptions'>
          <div class='row'>
            <h2>goodbye {{emailId}}</h2>
    </div>
     <div class='u-max-full-width'>
       <br>
       <h5><a href='/signIn'>sign in</a></h5>
      </div>
    </div>
</div>
  </body>
  <script src='app.js'></script>
  </html>
