<html>
<head>
  <title>sign up here</title>
  <link rel='stylesheet' href='css/normalize.css'>
  <link rel='stylesheet' href='css/skeleton.css'>
  <link rel='stylesheet' href='css/main.css' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body class='joinUp'>

  <body>
    <div class='section hero'>
      <div class='logo2'>
        <div class='row'>
         <p>liquid intelligence</p>
     </div>
  </div>
    </div>
  <div class='u-max-full-width container'>
      <div class='signUp'>
          <div class='row'>
        <h2>hello</h2>
        <h5>sign up to liquid intelligence.</h5>
    </div>
            <div class='u-max-full-width'>
              <form  action='/signUp' method='POST'>
              <label for='emailInput'>email address</label>
              <input class='u-full-width' type='email' placeholder='rahmona.henry@icloud.com' name='email'autofocus>
              <label for='password'>password</label>
              <input class='u-full-width' type='password' placeholder='abracadabra' autocomplete='off' name='password'>
          </div>
          <br>
          <input class='button button-primary' type='submit' value='submit'>
        </form>
        <br>
        <h6><b><a href='index.html'>home</a></b></h6>
      </div>
        </div>
  </body>
  <script src='app.js'></script>
  </html>
