<html>
<head>
  <title>secret liquid</title>
  <link rel='stylesheet' href='css/normalize.css'>
  <link rel='stylesheet' href='css/skeleton.css'>
  <link rel='stylesheet' href='css/main.css' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>

  <body class='fire'>
    <div class='section hero'>
      <div class='logo3'>
        <div class='row'>
         <p>liquid intelligence</p>
       </div>
     </div>
    </div>
  <div class='u-max-full-width container'>
      <div class='userOptions'>
          <div class='row'>
            <h2>hello {{email}}</h2>
        <h5>welcome.</h5>
    </div>
     <div class='u-max-full-width'>
       <h5><a href='/userProfile/{{id}}'>view profile</a></h5>
       <h5><a href='/newBrew'>add new brew</a></h5>
       <h5><a href='/allBrews'>see all brews</a></h5>
       <h5><a href='/newMessage'>post message</a></h5>
       <h5><a href='/signOut'>sign out</a></h5>
       <h5><a href='index.html'>home</a></h5>
      </div>
    </div>
</div>
  </body>
  <script src='app.js'></script>
  </html>
