<html>
<head>
  <title>secret liquid</title>
  <link rel='stylesheet' href='css/normalize.css'>
  <link rel='stylesheet' href='css/skeleton.css'>
  <link rel='stylesheet' href='css/main.css' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link rel="icon" type="image/png" href="images/favicon.png">
</head>

  <body class='fire'>
    <div class='section hero'>
      <div class='logo'>
        <div class='row'>
      <p>liquid intelligence</p>
     </div>
    </div>
  </div>

  <div class='u-max-full-width container'>
      <div class='userOptions'>
          <div class='row'>
            <h2>hello</h2>
              <h5>{{emailId}}</h5>
     </div>
     <br>
         <div class='u-max-full-width'>
           <div class='links'>
            <a class='button button-primary' href='newRecipe'>add new brew</a>
            <button class='button button-primary' id='showBtn'>see all brews</button>
            <a class='button button-primary' href='#'>follow a brewer</a>
            <a class='button button-primary' href='index.html'>home</a>
            <a class='button button-primary' href='signOut'>sign out</a>
          </div>
        </div>
</div>
</div>
  <script src='app.js'></script>
  </body>
  </html>
